/config.yml
/unsigned/
/repo/*
/archive/
/binary_transparency/
/logs/
/tmp/
/builder/
*~
*.swp
*.swo
*.pyc
.fdroid*
*.apk
*.jks
/metadata/dump_*
/stats/logs/
/stats/data/
/build/*/
!/build/extlib/
/build/.fdroidvcs-*
/stats/publishsigkeys.jar

# used in fdroidserver's ./jenkins-test
keystore.jks
keystore.p12

# the instructions page to be displayed on mirrors
!/repo/index.css
!/repo/index.html
!/repo/index.png
