---

repo_url: "https://f-droid.org/repo"
repo_maxage: 14
repo_web_base_url: "https://f-droid.org/packages"

archive_older: 3
archive_url: "https://f-droid.org/archive"

repo_keyalias: ciarang
repo_pubkey: 3082035e30820246a00302010202044c49cd00300d06092a864886f70d01010505003071310b300906035504061302554b3110300e06035504081307556e6b6e6f776e3111300f0603550407130857657468657262793110300e060355040a1307556e6b6e6f776e3110300e060355040b1307556e6b6e6f776e311930170603550403131043696172616e2047756c746e69656b73301e170d3130303732333137313032345a170d3337313230383137313032345a3071310b300906035504061302554b3110300e06035504081307556e6b6e6f776e3111300f0603550407130857657468657262793110300e060355040a1307556e6b6e6f776e3110300e060355040b1307556e6b6e6f776e311930170603550403131043696172616e2047756c746e69656b7330820122300d06092a864886f70d01010105000382010f003082010a028201010096d075e47c014e7822c89fd67f795d23203e2a8843f53ba4e6b1bf5f2fd0e225938267cfcae7fbf4fe596346afbaf4070fdb91f66fbcdf2348a3d92430502824f80517b156fab00809bdc8e631bfa9afd42d9045ab5fd6d28d9e140afc1300917b19b7c6c4df4a494cf1f7cb4a63c80d734265d735af9e4f09455f427aa65a53563f87b336ca2c19d244fcbba617ba0b19e56ed34afe0b253ab91e2fdb1271f1b9e3c3232027ed8862a112f0706e234cf236914b939bcf959821ecb2a6c18057e070de3428046d94b175e1d89bd795e535499a091f5bc65a79d539a8d43891ec504058acb28c08393b5718b57600a211e803f4a634e5c57f25b9b8c4422c6fd90203010001300d06092a864886f70d0101050500038201010008e4ef699e9807677ff56753da73efb2390d5ae2c17e4db691d5df7a7b60fc071ae509c5414be7d5da74df2811e83d3668c4a0b1abc84b9fa7d96b4cdf30bba68517ad2a93e233b042972ac0553a4801c9ebe07bf57ebe9a3b3d6d663965260e50f3b8f46db0531761e60340a2bddc3426098397fda54044a17e5244549f9869b460ca5e6e216b6f6a2db0580b480ca2afe6ec6b46eedacfa4aa45038809ece0c5978653d6c85f678e7f5a2156d1bedd8117751e64a4b0dcd140f3040b021821a8d93aed8d01ba36db6c82372211fed714d9a32607038cdfd565bd529ffc637212aaa2c224ef22b603eccefb5bf1e085c191d4b24fe742b17ab3f55d4e6f05ef

gpgkey: 37D2C98789D8311948394E3E41E7044E1DBA2E89
gpghome: {env: gpghome}

keystore: {env: keystore}
keydname: "CN=FDroid, OU=FDroid, O=fdroid.org, L=ORG, S=ORG, C=UK"
keystorepass: {env: keystorepass}
keypass: {env: keypass}

serverwebroot: {env: serverwebroot}
nonstandardwebroot: true

deploy_process_logs: true
keep_when_not_allowed: true
make_current_version_link: false
refresh_scanner: true

binary_transparency_remote: git@gitlab.com:fdroid/f-droid.org-transparency-log.git

keyaliases:
  com.ghostsq.commander.samba: '@com.ghostsq.commander'
  com.nextcloud.talk2: '@com.nextcloud.client'
  com.termux.api: '@com.termux'
  com.termux.boot: '@com.termux'
  com.termux.gui: '@com.termux'
  com.termux.styling: '@com.termux'
  com.termux.tasker: '@com.termux'
  com.termux.widget: '@com.termux'
  com.termux.window: '@com.termux'
  org.fdroid.fdroid.privileged: 'ciarang'
  org.fdroid.fdroid: 'ciarang'

# APKs signed by publicly available private signing keys are not
# allowed to be included in this repo, even if they are reproducible.
#
# Hash calculated with `openssl x509 -in <pem file> -outform der | sha256sum`
apk_signing_key_block_list:
  # https://android.googlesource.com/platform/build/+/refs/heads/main/target/product/security
  - a6ccc500ff0e7421200eb66a7fe174ef1b00e52ca91727070cbedf061ff76c35  # AOSP bluetooth.x509.pem
  - ce7b2b47ae2b7552c8f92cc29124279883041fb623a5f194a82c9bf15d492aa0  # AOSP cts_uicc_2021.x509.pem
  - 465983f7791f2abeb43ea2cbdc7f21a8260b72bc08a55c839fc1a43bc741a81e  # AOSP media.x509.pem
  - e1dbadce60dc080d15b58a014b0dcf9400e24de23fa00b287a5a982bfebda2ee  # AOSP networkstack.x509.pem
  - fae9122a8721d6e2a196d2224dffcf773c9127e2bb956cbddb40b009192ffdfd  # AOSP nfc.x509.pem
  - c8a2e9bccf597c2fb6dc66bee293fc13f2fc47ec77bc6b2b0d52c11f51192ab8  # AOSP platform.x509.pem
  - abf21f9e2af1d881cc673fddcefa6ed9c269a437bd64b279cf45844cfd589126  # AOSP sdk_sandbox.x509.pem
  - 28bbfe4a7b97e74681dc55c2fbb6ccb8d6c74963733f6af6ae74d8c3a6e879fd  # AOSP shared.x509.pem
  - a40da80a59d170caa950cf15c18c454d47a39b26989d8b640ecd745ba71bf5dc  # AOSP testkey.x509.pem
