
# These rarely need to be changed, and changes can have big impacts.
[Three Approvers][3] @fdroid
config.yml
config/config.yml
config/mirrors.yml
config/releaseChannels.yml
config/*.png
config/*/config.yml
config/*/*.png
fdroid-icon.png


[Review Required][2] @fdroid
.gitignore
.gitlab-ci.yml
.gitlab/
repo/index.css
repo/index.html
repo/index.png


[Merge Request Required] @fdroid
config/antiFeatures.yml
config/categories.yml
config/*/antiFeatures.yml
config/*/categories.yml
metadata/org.fdroid.*
